<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@page_title</title>
		<meta name="description" content="The photography and art of Christopher Bowers.">
		<link rel="stylesheet" href="./docs/css/screen.css" type="text/css" media="screen">
		
		<script type="text/javascript" src="http://use.typekit.com/ujv2gpu.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<script src="../../../mint/?js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
			<h1 class="col four">
				<a href="./">@name</a>: Lens Based Media
			</h1>
			<hr>
			<div id="navigation" class="col three">
				@Category_Lists
				@Pages
			</div>
			<div id="content" class="home col eight">
				<!-- <h1><a href="http://www.jpf.co.kr/?c=2/10/36">Jeunju Photo Festival April 29&ndash;May 10</a></h1> -->
				<img src="./docs/rotate/rotate.php">
			</div>
			<hr>
			<p id="footer" class="home col eight">Copyright &copy;  2005&#8211;@Year @name, All Rights/Wrongs Reserved.</p>
		</div>
	</body>
</html>